@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#3b88b4, #edfafc);
    font-family: 'Zilla Slab', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 90px;
    height: 100vh;
    width: 100vw;
}

button {
    cursor: pointer;
    border: none;
    font-family: 'Zilla Slab', serif;
}

label {
    font-size: 1.5rem;
    color: rgb(8, 24, 68);
}

header {
    text-align: center;

}

header h1 {
    text-transform: uppercase;
    border-bottom: 2px dashed;
    letter-spacing: .1rem;
    font-weight: 500;
    font-size: 2.8rem;
    color: hsla(380, 100%, 75%, 1);
    font-family: 'Gabriela', serif;
}

main {
    display: flex;
    gap: 50px;
}

@media only screen and (max-width: 900px) {
    body {
        height: 100%;
        margin-block: 50px;
    }
    main {
        flex-direction: column-reverse;
    }
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#color-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 100px;
    height: 100px;
    border: none;
    cursor: pointer;
}

#color-picker::-webkit-color-swatch {
    border-radius: 50%;
    border: 2px solid #000;
}

#color-picker::-moz-color-swatch {
    border-radius: 50%;
    border: 2px solid #000;
}

.color-btns {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.input-box input {
    width: 250px;
}

.btn-order {
    width: 100px;
    height: 40px;
    padding: 5px;
    border-radius: 3px;
    font-size: 1.2rem;
}

.btn-order:hover {
    background-color: #0066CC;
    color: #edfafc;
}

#btn-rainbow {
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
        color: #f4f4fd;
}

#btn-rainbow:hover {
    background: linear-gradient(
        270deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
    color: #110831;
}

#btn-reset {
    background-color: rgb(255, 0, 0);
    color: rgb(245, 245, 23);
}

#btn-reset:hover {
    background-color: rgb(172, 0, 0);
}

#container {
    background-color: #edfafc;
    width: 500px;
    height: 500px;
    max-width: 500px;
    max-height: 500px;
    display: grid;
    gap: 0;
    row-gap: 0;
    border: 2px solid #acabab;
    box-shadow: 5px 5px 10px rgb(87, 86, 86);
}


